body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.tabs {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}



.tabcontent {
  display: none;

}

#add {
  display: block;
}

.tabcontent h2 {
  margin-top: 0;
}

.car-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.car {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}